@font-face {
    font-family: 'Smoother';
    src: url(../tainguyen/Smoother.otf);
}

@font-face {
    font-family: 'BeausanProBook';
    src: url(../tainguyen/SVN-BeauSansPro-Book.otf);
}

@font-face {
    font-family: 'BeausanProRegular';
    src: url(../tainguyen/SVN-BeauSansPro-Regular.otf);
}

:root {
    --bluebaby: #89CFF0;
    --gold: #FFD700;
    --blue: #8BD8BD;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: var(--bluebaby);
}

.heading span {
    color: #FFFFFF;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 4rem;
    background: #333;
    color: #FFFFFF;
    padding: 0.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: var(--bluebaby);
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem .1rem #89CFF0;
}

header .logo {
    font-family: Smoother;
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo:hover {
    color:var(--bluebaby)
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover {
    color:var(--bluebaby)
}

header .icon a {
    font-size: 3rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icon a:hover {
    color:var(--bluebaby);
}

header #congtac {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 0.1rem solid rgba(0,0,0.3);
    display: none;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    header .fa-bars {
        display: block;
    }
    header .navbar {
        position: absolute;
        top: 100%; left: 0%; right: 0%;
        background: #FFFFFF;
        border-top: 0.1rem solid rgba(0,0,0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header #congtac:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a {
        margin: 1,5rem;
        padding: 1,5rem;
        background: #FFFFFF;
        border: 1rem solid rgba(245, 245, 245, 1);
        display: block;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .heading {
        font-size: 3rem;
    }
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    align-items: center;
    justify-content: center;
}

.sanpham {
    display: flex;
    width: 90%;
    max-width: 750px;
}

.anhsanpham {
    flex-basis: 47%;
    background: #333;
    transform: scale(1.08);
    box-shadow: -10px 5px 10px 10px rgba(0,0,0,0.1);
}

.anhsanpham img {
    width: 100%;
    display: block;
    padding-top: 70px;
}

.chitiet {
    flex-basis: 53%;
    background: #D4F1F4;
    padding: 40px;
    padding-left: 60px;
    box-shadow: -10px 5px 10px 10px rgba(0,0,0,0.1);
    font-size: 13px;
    font-weight: 500;
    color: #777;
}

.sanpham .chitiet h1 {
    font-family: BeausanProBook;
    color: #333;
    font-size: 35px;
}

.sanpham .chitiet h2 {
    font-family: BeausanProBook;
    color: #555;
    font-size: 30px;
    font-weight: 600;
}

.sanpham .chitiet h3 {
    font-family: BeausanProBook;
    text-decoration: line-through;
    color: #00D874;
    margin-bottom: 20px;
}

.sanpham .chitiet p {
    font-family: BeausanProBook;
}

.soluong {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.soluong p {
    font-family: BeausanProBook;
    width: 75px;
}

.soluong input {
    font-family: BeausanProBook;
    background: #eee;
    border: 0;
    outline: 0;
    padding: 2px 2px 2px 15px;
    width: 50px;
    border-radius: 12px;
}

form button {
    font-family: BeausanProBook;
    background: #553FF0;
    color: #FFF;
    font-size: 17px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    margin-top: 50px;
    box-shadow: 0 10px 10px rgba(85, 63, 240, 0.25);
    cursor: pointer;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box {
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    color: var(--bluebaby);
    text-decoration: underline;
}

.footer .box-container .box img {
    margin-top: 1rem;
}